<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
<img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg?w=2000" style="width:300px; height: 300px; border-radius:15%;>
  </div>
  
<%- include('../partials/footer') %>