<%- include('../partials/header') %>

<h2><%=title%></h2>
<h5>Rahel Seyum:</h5>
  	<div class="images">
      <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg?w=2000" style="width:300px; height: 300px; border-radius:15%;>
    </div>
  	<p>coding coding coding..</p>
	</div>
	<div class="col-sm-8">
  	<h5>About Me!</h5>
<div>
  	<p>Hello!
I'm a motivated Application Development Student in the Year Up program who aspires to become an all-rounded front-end engineer in the future by utilizing my skills in JavaScript, ReactJS, Redux, Git, and GitHub. In September, I will begin an internship as part of the Year-up program to help me further develop my professional skills to apply for a full-time position in software development following my internship.
I'm looking forward to meeting like-minded people and businesses that will give me a chance and welcome me to the industry.
Since I was young, I have always deconstructed every toy I had to figure out how and why they worked the way they did and then reassemble them into the whole operation. These hardware skills drew me to work as a medical device assembler, tester, and programmer. It was simple for me to break into the industry, and I worked until I had to stop for Year Up.
The technique for problem solving, analyzing, and breaking down the problem into components is similar in hardware and software. It was when I pressed the play button on my first JavaScript tutorial on Scrimba.com, that the spark I'd been missing ignited. I have been on my way to my dream destination on the main highway ever since.
Front-end web programming appeals to all my interests; it combines creativity and problem solving, allowing me to break the code better. I enjoy using responsive design ideas and seeing how my web functions. Learning new skills and programming languages, as well as problem-solving are among my talents.
We, as humans, become bored with routine tasks. We frequently hunt for new and exciting things to do to break it. Hobbies are the most effective technique to divert attention while working. As a hobby, I educate children in a small community and like seeing them grow in love, knowledge, and discipline. My skills include. JavaScript and ReactJS, Redux, Git, GitHub.
Please feel free to connect. I'm always ready for a lively discussion, collaboration, or knowledge exchange.escription</p>
<%- include('../partials/footer') %>