<%- include('../partials/header') %>

<h2><%=title%></h2>
  	<h5>Rahel Seyum:</h5>
  	<div class="fakeimg">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQFZu6lra_XZWQ/profile-displayphoto-shrink_800_800/0/1654811648936?e=1666224000&v=beta&t=ykPtP8BZT67fM7BcfyF4CYALGzOn1guB5wZfwW93QAY" style="width:300px; height: 300px; border-radius:50%;">
    </div>
  	<p>I enjoy coding..</p>
	</div>
	<div class="col-sm-8">
  	<h2>Front-end Technologies</h2>
  	<h5>HTML, CSS, JavaScript,ReactJs, ReduxJS,Figma </h5>
  	<div class="fakeimg">
      <img src="https://www.upwork.com/catalog-images-resized/ba7ef754685b53937d9e2d166cbcdf60/large" style="width: 400px; height: 400px; border-radius:25%;"> 
    </div>
  	<p>Some text..</p>
  	<p>Description</p>
    <%- include('../partials/footer') %>