<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
<img src="https://www.upwork.com/catalog-images-resized/ba7ef754685b53937d9e2d166cbcdf60/large">
  </div>
  
<%- include('../partials/footer') %>